@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');;
*{
    margin:0;
}
a{
    text-decoration: none;
    color:black;
}

.flex{
    display:flex;
}
.container{
    width:70%;
    margin:35px auto;
}
.menubar{
    width:600px;
    margin:0 auto;
}

 .menubar a{
     margin:5px 0px 0 0;
     padding:8px 12px;
     font-family: 'Merriweather', serif;
     font-size:14px;
     font-weight: 600;
 }
 .btn{
     width: 14px;
     height: 14px;
     margin: auto 0;
     border-radius: 50%;
     border:2px solid black;
 }
 .btn .div{
     width:10px;
     height:10px;
     border-radius: 50%;
     background-color: black;
     margin:2px;
     
}
 .btn2{
     width: 14px;
     height: 14px;
     margin: auto 0;
     border-radius: 50%;
     border:2px solid aqua;
     margin-left: 3px;
 }
 .btn2 .div{
     width:10px;
     height:10px;
     border-radius: 50%;
     background-color: aqua;
     margin:2px;
     
}




/*----------------------intro-------------------------*/

.intro{
    margin-top: 10px;
}
 

.intro .information{
    width:48%;
    margin-right: 5%;
    font-family: 'STIX Two Text', serif;

}
.intro .information p:first-child{
    margin:5px 0;
    font-weight: bold;
    color:white;
    background-color: seagreen;
    padding:15px;
    width:90px;
    text-align:center;
    border-radius:45% 40px 45px 0%
}
.intro .information h2{
    font-weight: 600;
    margin:5px 0;
}
.intro .information h5{
    font-weight: 600;
   
    margin:5px 0;
    font-size: 15px;
}


.intro .information .contact{
    margin:8px 0;
}
.intro .information i{
    margin-right:8px
}
.intro .information .contact .flex{
    margin:10px 0;
    padding:5px 0;

}
.intro .information .mail i{
    font-size:20px;
    color:rgb(255, 189, 91)
}

.intro .information .number i{
    font-size:20px;
    margin-right: 5px;
    color:rgb(0, 252, 126)
}
.intro .information .address i{
    font-size:20px;
    color:rgb(38, 125, 255)
}
.intro .information p{
    margin:auto 0;
}
.intro .socail-media{
    margin:15px 0;
}
.social-media a{
    font-size:22px;
    padding:10px;
   
    border-radius: 50%;
}

.social-media .fa-facebook{
    background-color: rgb(21, 120, 250);
    color:white;
    font-size:22px;
    padding:10px 14px;
    
}
.social-media .fa-facebook:hover{
    box-shadow: 0 0 5px rgb(21, 120, 250);

}

.social-media .fa-twitter{
    color: rgb(62, 167, 253);
    background-color:rgb(243, 236, 236);
    margin:0 8px;
}
.social-media .fa-twitter:hover{
    box-shadow: 0 0 5px rgb(243, 236, 236);
}

.social-media .fa-instagram{
    background-color: rgb(247, 179, 33);
    color:white;
}

.social-media .fa-instagram:hover{
    box-shadow: 0 0 5px rgb(247, 179, 33);
}

.intro .image{
    width:47%;
    
    width: 250px;
    height: 250px;
    position:relative;
    display: table; 
    margin: 20px auto;
    height:180px;
    width: 180px;
}


.intro .outer {    
    display: table-cell;
    vertical-align: middle;
    background: rgb(238, 238, 243);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 12px rgb(211, 178, 178);
}
.intro .center{
    width:160px;
    height:160px;
    margin:10px;
    background: rgb(230, 230, 240);
    border-radius: 50%;
}
.intro .outer img{
    margin:10px;
    width:140px;
    height:140px;
    border-radius: 50%;
}




/*-------------------------about----------------*/
.about{
    margin-top:35px;
    width:100%;
    display:flex;
    font-family: 'STIX Two Text', serif;
}
.about .image{
     width:45%;
     margin-right: 5%;

}
.about .image img{
    width:90%;
    border-radius: 5px;
    margin:auto;

}
.about .information{
    width:50%;
}

.about p{
    text-indent: 0em;
}
.about ul{
    display:flex;
    width: 100%;
}

.about li{
    list-style: none;
    margin:5px;
    padding:7px 10px;
    border: 1px solid seagreen;
    text-align: center;
    border-radius: 2px;
    color:seagreen;
}
.about li a{
    color:seagreen
}
.about li:hover{
    background-color: seagreen;
    color:white
}
.about li:hover a{
    color:white
}

.about li:first-child{
    margin-left: -38px;
}


.about .cv p{
    width:115px;
    padding:10px;
    background-color: seagreen;
    color: white;
    border-radius: 5px;
    
}
.about .cv:hover p{
    box-shadow: 0 0 5px seagreen;
    transition: 1s;
}




/*------------skill------------------*/
.skill{
    width:100%;
    display: flex;
}

.skill .information{
    width:50%;
    margin-right: 5%;
}


.skill .bg{
    width:100%;
    background-color: rgb(210, 214, 212);
    border-radius: 10px;
}
.skill .bg p{
    font-size: 10px;
    padding:2px;
    color:white;
    text-align: right;
}
.skill .python{
    background-color: rgba(0, 123, 194, 0.925);
    border-radius:10px ;
    width:50%;
}
.skill .html{
    background-color: rgba(0, 181, 194, 0.925);
    border-radius:10px ;
    width:85%;
}
.skill .css{
    background-color: rgb(136, 85, 255);
    border-radius:10px ;
    width:80%;
}
.skill .wordpress{
    background-color: rgba(255, 97, 184, 0.925);
    border-radius:10px ;
    width:75%;
}
.skill .graphics{
    background-color: rgba(255, 151, 92, 0.925);
    border-radius:10px ;
    width:70%;
}








.skill .image{
    width: 50%;
}
.skill .image img{
    width:100%;
    margin:130px auto;
    border-radius: 5px;
}




/*---------service-------*/


.service{
    width: 100%;
    margin-top: 50px;
}



.service h2{
    text-align: center;
    font-size: 30px;
}

.service-content{
    padding-left:2%;
    padding-right:2%;
    padding-top:30px ;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: -20px;
}
.service .image{
    width:160px;
    margin:auto;
}

.service img{
    width:100%;
    margin: auto;
}
.service h3,
.service p{
    text-align: center;
}

.service .content:first-child h3{
    margin-top:70px
}
.service .content:nth-child(2) h3{
    margin-top:50px
}
.service .content:nth-child(3) h3{
    margin-top:80px
}
.service .content:nth-child(4) h3{
    margin-top:50px
}
.service .content:nth-child(5) h3{
    margin-top:67px
}


.service .content{
    padding: 5px;
    border-radius: 20px;
    box-shadow:0 0 8px grey;
    transition: 1s;
}
	








/*-------team--------------*/

.team{
    width:100%;
    margin-top: 50px;
}
.team h2{
   text-align: center;
}
.team-member{
	padding-left:2%;
    padding-right:2%;
    padding-top:20px ;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: -25px;
	
}
.team .member{
    background-color: rgb(166, 191, 212);
    width:100%;
    border-radius: 3px;
}
.team .profile-photo{
	position:relative;
	overflow:hidden;
}

.team .team-overlay{
	width:100%;
	height:100%;
	position:absolute;
	left:100%;
	bottom:100%;
	background:rgba(219, 224, 230, 0.75);
	display:flex;
	justify-content:center;
	align-items:center;
	transition:.5s;
	
}

.team .profile-photo:hover .team-overlay{
	bottom:0%;
	left:0%;
	
}
.team img{
    width:100%;
    border-radius: 2px;
}
.team .profile-info h5{
	color:#34495e;
	font-size:18px;
    color:antiquewhite;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.team .profile-info p{
	color:#34495e;
	font-style:italic ;
	font-size:14px;
    text-align: center;
    color: white;
}

.dark{
    background-color: rgb(12, 12, 12);
}
.dark .menubar a,
.dark .intro h2,
.dark .about p,
.dark .about h3,
.dark .intro p,
.dark .skill h2,
.dark .skill p,
.dark .service h2,
.dark .team h2
{
    color:white;
}





.dark .btn{
    width: 14px;
    height: 14px;
    margin: auto 0;
    border-radius: 10px;
    border:2px solid rgb(255, 255, 255);
}
.dark .btn .div{
    width:10px;
    height:10px;
    border-radius: 50%;
    float: right;
    background-color: rgb(255, 255, 255);
    margin:2;
    
}

.aqua{
    background-color: aqua;
}
.aqua .btn2{
    width: 14px;
    height: 14px;
    margin: auto 0;
    border-radius: 10px;
    border:2px solid rgb(255, 255, 255);
    margin-left: 2px;
}
.aqua .btn2 .div{
    width:10px;
    height:10px;
    border-radius: 50%;
    float: right;
    background-color: rgb(255, 255, 255);
    margin:2;
    
}




/*--------------------talk------------------------*/
.talk{
    width: 100%;
    margin:auto;

    border-radius: 5px;
    padding: 12px;
    padding-bottom: 18px;


}
.talk h2{
    text-align: center;
    color:white;
}
.social-media{
    display: flex;
    margin-left:15px;
}
.social-media a{
   text-decoration: none;
   padding:0 20px;
   color:white;
   margin:0 5%

}
.social-media i{
    color: rgb(98, 122, 255);

} 
